 <!DOCTYPE html>
<html>
<head>
    <!-- css样式 -->
    <link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}/index.css">
    <link rel="stylesheet" type="text/css" href="{$Think.const.LIB_URL}/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{$Think.const.LIB_URL}/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{$Think.const.LIB_URL}/Font-Awesome-3.2.1/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{$Think.const.LIB_URL}/bootstrapvalidator/dist/css/bootstrapValidator.min.css">
    <link rel="stylesheet" type="text/css" href="{$Think.const.LIB_URL}/csshake/dist/csshake.min.css">

    <title><%= title %></title>
    <link rel="shortcut icon" href="/images/favicon.ico">
    <!-- javascript脚本 -->
   <script type="text/javascript" src="{$Think.const.LIB_URL}/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="{$Think.const.LIB_URL}/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{$Think.const.LIB_URL}/bootstrapvalidator/dist/js/bootstrapValidator.min.js"></script>
    <script type="text/javascript" src="{$Think.const.JS_URL}/global.js"></script>
</head>
<body>
<header>
    <include file="includes/header" />
</header>

<section id="main">
    {__CONTENT__}
</section>

<footer>
    <include file="includes/footer" />
</footer>

</body>
</html>
