@charset "utf-8";
@import "base";

/* 文章详情页 */
.article {
  .panel-body {
    overflow: hidden;
    word-wrap: break-word;
  }
  .article-title {
    margin: 0 0 10px 0;
    font-size: 30px;
    text-indent: initial;
    text-decoration: none;
    color: #000;
    overflow: hidden;
    display:block;
  }
  .article-info {
    span {
      font-size:12px;
    }
    span:nth-of-type(2) {
      padding:0 15px;
    }
  }
  .article-tags {
    padding-top:20px;
    i {
      margin: 0 10px 0 0;
      span,a {
        padding-left: 5px;
      }
    }
  }
}



/*文章显示*/
.article-list-box {
  .panel-body {
    word-wrap: break-word;
    a {
      h3 {
        margin:8px 0 15px 0;
      }
    }
    .article-info {
      overflow: hidden;
      margin:8px 0 0 0;
      i {
        margin: 0 18px 0 0;
        span,a {
          padding-left: 5px;
        }
      }
    }
  }
}

/* 评论 */
.media-body {
  .reply-box {
    display:none;
    margin-top:15px;
  }

  .operate {
    i {
      :hover {
        cursor:pointer;
      }
      span {
        font-size:13px;
        padding-left:2px;
        margin-right:10px;
      }
    }
  }
}



/* scroll fixes */
.modal-open {
  .modal {
    padding-left: 0px !important;
    padding-right: 0px !important;
    overflow-y: scroll;
  }
}


/* 首页　列表　右侧css */
.blog-info-content{
  margin-top:15px;
  li {
    width:100%;
    overflow: hidden;
    float:left;
    margin:5px 0;
    > div {
      text-indent: 15px;
      width:50%;
    }
  }

}

.right-article-box li {
  margin:8px 0;
  width: 100%;
  a {
    color:#333;
    font-size:13px;
  }
  i {
    padding:0 7px 0 0;
  }
}

.right-tags-box li {
  display:inline-block;
  padding:2px 12px;
  background:#fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  margin:5px;
  border:1px solid #ddd;
  -webkit-box-shadow:0 0 3px 2px #eee;
  -moz-box-shadow:0 0 3px 2px #eee;
  box-shadow:0 0 3px 2px #eee;
}


/* 首页 列表 */
.article-content-box {
  color:#666;
}


/* 留言板分页 */
.pagination {
  li {
    cursor:pointer;
  }
}

.btn-support {cursor:pointer;}

#to-top {
  position: fixed;
  bottom: 8%;
  right: 3%;
  padding: 0px 10px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
}



