<div id="to-top" style="display:none;">
    <i class="icon-double-angle-up icon-3x"></i>
</div>

<div class="container">
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="navbar-inner navbar-content-center">
            <p class="text-muted text-center credit">
                copyright @ jack - 2016
            </p>
        </div>
    </nav>
</div>

<script type="text/javascript">
    $(function() {
        $(window).scroll(function () {
            if ($(window).scrollTop() > 200) {
                $("#to-top").fadeIn(100);
            }
            else {
                $("#to-top").fadeOut(300);
            }
        })
        $("#to-top").click(function() {
            $('html, body').animate({
                scrollTop: 0
            }, 200);
        });
    })
</script>