<ul class="pagination">



    <%
        var firstObj = {};
        var endObj = {};
        var itemObj;
        if(pageData && pageData.listsArticles) {
            if(pageData.listsArticles.itemList.length>1) {
                firstObj = pageData.listsArticles.first;
                itemObj = pageData.listsArticles.itemList;
                endObj = pageData.listsArticles.end;
            }
        } else {
            if(pageData.itemList.length>1) {
                firstObj = pageData.first;
                itemObj = pageData.itemList;
                endObj = pageData.end;
            }
        }
    %>




    <%
    if(itemObj) {
    %>
        <li class="<%= firstObj.class %>"><a href="<%= firstObj.url %>">&laquo;</a></li>
        <%
        itemObj.forEach(function(e) {
        %>
            <li class="<%= e.class %>"><a href="<%= e.url %>"><%= e.index %></a></li>
        <%
        });
        %>
        <li class="<%= endObj.class %>"><a href="<%= endObj.url %>">&raquo;</a></li>
    <%
    }
    %>

    <!--<li class="disabled"><a href="#">&laquo;</a></li>
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">&raquo;</a></li>-->
</ul>
